{% extends 'base.html' %}

{% block register %}
<form class="d-flex">
    <input class="form-control me-4" style="font-size: 23px" type="search" placeholder="Найти" aria-label="Search">
    <button class="btn btn-outline-success" style="border-color: #4B371C; color: #4B371C;" type="submit">Найти</button>
</form>
{% endblock %}

{% block body %}
<section class="menu" id="menu">

    <ul class="nav justify-content-center mb-4 mt-2">
        <li class="nav-item"><a class="nav-link" href="#Классика">Классика</a></li>
        <li class="nav-item"><a class="nav-link" href="#Авторский кофе">Авторский кофе</a></li>
        <li class="nav-item"><a class="nav-link" href="#Раф">Раф</a></li>
        <li class="nav-item"><a class="nav-link" href="#Молочные коктейли">Молочные коктейли</a></li>
        <li class="nav-item"><a class="nav-link" href="#Некофе">Некофе</a></li>
        <li class="nav-item"><a class="nav-link" href="#Чай">Чай</a></li>
        <li class="nav-item"><a class="nav-link" href="#Чай без чая">Чай без чая</a></li>
        <li class="nav-item"><a class="nav-link" href="#Еда">Еда</a></li>
    </ul>

    {% for global_category in ["Классика", "Авторский кофе", "Раф", "Молочные коктейли", "Некофе", "Чай", "Чай без чая",
    "Еда"] %}

    <h2 id="{{ global_category }}" style="text-align: center;">{{ global_category }}</h2>
    <div class="container" style="margin-bottom: 70px">
        <div class="row row-horizont gy-5">
            {% for el in data if el.category == global_category %}
            <div class="col-4">
                <div class="card">
                    <img src="{{el['img_path']}}" class="card-img-top" alt="law">
                    <div class="card-body">
                        <div class="star text-center">
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h3>{{el['name']}}</h3>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ el["category"] }}</h6>
                        <h4>{{el['price']}} рублей</h4>
                        {% if current_user.is_authenticated %}
                        <a class="btn btn-dark" href="/menu/edit/{{ el['id'] }}" role="button">Редактировать</a>
                        <a class="btn btn-outline-danger" href="/menu/delete/{{ el['id'] }}" role="button">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endfor %}

</section>
{% endblock %}