<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>кафе "Velcake"</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="text-center">
<div class="content"
     style="width: 100%; height: 100vh; background-color: #f9cf8b; background-repeat: no-repeat; background-size: cover; background-position: bottom right; background-image: url(../static/images/white_fon.png); background-size: auto;">
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-4">
                <form class="form-signin" action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <h3 class="mb-4">Изменение заказа</h3>


                    <div class="form-floating mb-2">
                        {{ form.status(class="form-control", id="floatingInput", placeholder="Состояние") }}
                        {% for error in form.status.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <label for="floatingInput">Статус</label>
                    </div>


                    <div class="form-floating mb-2">
                        {{ form.date(class="form-control", id="floatingInput", placeholder="100") }}
                        {% for error in form.date.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <label for="floatingInput">Дата выдачи</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.client_info(class="form-control", id="floatingTextarea2", placeholder="Информация о
                        клиенте", style="height: 100px") }}
                        {% for error in form.client_info.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <label for="floatingTextarea2">Информация о клиенте</label>
                    </div>


                    {{ form.submit(value="Изменить", type="submit", class="btn btn-primary w-100") }}

                    {% if message %}
                    <div class="alert alert-warning my-3" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                </form>
                <br>
                <p class="text">Вернуться на <a class="link-opacity-100" href="/cart">страницу предзаказа</a><br>
                    Вернуться на <a class="link-opacity-100" href="/">главную страницу</a></p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>