<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>кафе "Velcake"</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="text-center">
<div class="content"
     style="width: 100%; height: 100vh; background-color: #f9cf8b; background-repeat: no-repeat; background-size: cover; background-position: bottom right; background-image: url(static/images/login_cat.png); background-size: auto;">
    <form class="form-signin" action="" method="post" style="margin-left: auto; margin-right: auto; max-width: 300px;">

        <h1>Авторизация</h1>

        {{ form.hidden_tag() }}

        <label style="font-size: 18px;">{{ form.login.label }}</label><br>
        {{ form.login(class="form-control") }}<br>
        {% for login in form.login.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        <label style="font-size: 18px;">{{ form.password.label }}</label><br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {% if message %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endif %}
    </form>

    <div style="margin-left: auto; margin-right: auto; max-width: 400px;">
        <p class="text">
            Еще нет своего аккаунта? <a class="link-opacity-100" href="/regist">Зарегистрируйся</a></br>
            Вернуться на <a class="link-opacity-100" href="/">главную страницу</a>
        </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>